# https://github.com/direnv/direnv
# This file is executed automatically by `direnv` when your terminal enters this directory

ROOT_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null && pwd )"

export PATH="${ROOT_DIR}/bin":${PATH}